<a name="findings" />
<div class = "border_findings">
	<div class="toggle_all_findings">
	
		<%= link_to_function(t(:'findings.section_title'),
			toggler("#toggle_all_findings_of_",report)
			) %>:
		<span id="summary_findings"><%= allfindings_summary(report) %></span>
		<div id="toggle_all_findings_of_report_<%=report.id%>">
			<%= render :partial =>'findings/finding', 
				:collection => report.positive_findings	%>  

			<!-- html for new finding of this report will be inserted here -->
			<div id="new_finding_for_report_<%=report.id%>"></div>

			<%= link_to( image_tag('add.png')+t(:'findings.add_link'),
					new_finding_path(:report_id => report.id),
					:remote		=> true,
					:title =>t(:'findings.add_hint')) %>
		</div> <!-- end all findings-->
	</div><!-- end toggle for all findings-->
</div><!-- end border all findings-->