<!-- SECTION SINGLE Project -->
<div id="project_<%=@project.id%>" class="border_project">

	<!-- SECTION SINGLE Project Summary (modifiable details) -->
	<div class="toggle_project">
			<%= form_for( @project, 
					:remote => true, 
					:html => {:class => "edit_project_#{@project.id}"}	
					) do |frm_pro| %>
				<%= link_to_function(t(:'.section_title'), 
					toggler("#toggle_",@project),
					:title => t(:'.hint_section_title') ) %>
				<%= frm_pro.text_field(	:title, 
					:placeholder => t(:'.placeholder_title'), 
					:title => t(:'.hint_title'),
					:class => 'submittable') %>
				<%= link_to( image_tag('delete.png'),
					project_path(@project),
					# Note: we redirect to overview page, so NO AJAX here!!
					:method => :delete, :remote		=> false,
					:confirm => t(:'.delete_confirm',:summary => @project.summary),
					:title => t(:'.delete_hint',	:summary => @project.summary) )	%>
					 
				&nbsp;&nbsp;&nbsp;	
				<%= link_to(image_tag('xml.png') , 	project_path(@project, 	:format => :xml),
				  						:title => t(:'projects.hint_export') )%>
				&nbsp;&nbsp;&nbsp;
			 	<%= link_to(image_tag('preview.png'), 	project_path(@project, 	:includestyle=>true, 
														:format => :xml),
										:title => t(:'projects.hint_view'))  %>
			<% end  %> <!-- end of project-form -->
			
			<!-- SUB SECTION SINGLE Project Details (modifiable details) -->
			<div id="toggle_project_<%=@project.id %>">
				<!-- SECTION PROJECT (modifiable details) -->
				<%= form_for(@project, 
					:remote => true, 
					:html => {:class => "edit_project_#{@project.id}"}
					) do |frm_pro| %>
					<table id="table_project">	  
						<tr><th class="leftcolumn"></th><!-- left column fixed width with css --></tr>
						<tr>
							<td><%= frm_pro.label(:description, 
									t(:'.description'),
									:title => t(:'.hint_description') ) %></td>
							<td><%= frm_pro.text_area :description, 
									:rows => 4,
							 		:placeholder => t(:'.placeholder_description'),
							 		:title => t(:'.hint_description'),
									:class => 'submittable'	%></td>
						</tr>
					</table>  
				<% end # end of project-form %>

				<div id="project_message_<%=@project.id%>" class="ajax_message"></div>
		
				<!-- SECTION ALL REPORTS -->
				<div class="border_reports">
					<div class="toggle_all_reports">
						<%= link_to_function( t(:'reports.section_title'),
								toggler("#toggle_all_reports_of_",@project),
								:title => t(:'reports.toggle_section_title')
							) %>
						<span id="summary_reports"><%= allreports_summary(@project) %></span>	
						<div id="toggle_all_reports_of_project_<%=@project.id%>">
					 		<%= render :partial =>'reports/report', 
								:collection => @project.reports,
								:locals => {:allreports => @project.reports}
							%>  
						</div> <!-- end all reports-->
					</div><!-- end toggle for all reports-->
				</div><!-- end border all reports-->
					
				<!-- html for new report will be inserted here -->
				<div id="new_report_for_project"></div>
				
				<%= link_to( image_tag('add.png')+t(:'.add_ta_link'),
						ajax_add_reports_path(:project_id => @project.id, :testtype => 'ta'),
						:remote		=> true,
						:title => t(:'.add_ta_link')) %>
				<!-- TODO: remove this line when link below is ready to be used-->
				&nbsp;<%= image_tag('add.png')+t(:'.add_he_link') %>
				<!-- TODO: activate this link when he is ready to be used!
				<%= link_to( image_tag('add.png')+t(:'.add_he_link'),
						ajax_add_reports_path(:project_id => @project.id, :testtype => 'he'),
						:remote		=> true,
						:title => t(:'.add_he_link')) %>
				-->
			</div><!-- end of id toggle_project (details)-->
		</div> <!-- end of class toggle (project with summary)-->
</div> <!-- end of single project -->

<br />

<%= link_to t(:'back'),  projects_path, :title => t(:'hint_back') %>