<h1><%= t '.manage_projects' %></h1>

<table class="table_index">
	<tr>
		<th><%= t '.project_tab_title' %></th>
		<th><%= t '.project_descripion_tab_title' %></th>
		<th colspan="2"><%=t(:'.project_manage_tab_title')%></th>
	</tr>

	<% @projects.each do |project| %>
		<tr>
		  <td><%= link_to project.title, edit_project_path(project) %></td>
		  <td><%= project.description %>
		<ul>
			<% project.reports.each do |r| %>
				<li><%= r.description %></li>
			<% end %>
		</ul>
		</td>
		  <td><%= link_to "XML", project_path(project, :format => :xml)  %> 
			<br/>(plain)</td>
		  <td><%= link_to "XML+XSL", project_path(project, :includestyle=>true, 
							:format => :xml)  %>
			<br/>(with style)</td>
		</tr>
	<% end %>
</table>

<br />
<%= link_to( image_tag('add.png',
		)+t(:'.add_link'),
		 new_project_path, 
		:title => t(:'.add_hint')
	) %>
