<h1><%= t '.manage_projects' %></h1>

<table class="table_index">
	<tr>
		<th><%= t '.project_tab_title' %></th>
		<th><%= t '.project_descripion_tab_title' %></th>
		<th><%=t(:'.project_manage_tab_title')%></th>
	</tr>

	<% @projects.each do |project| %>
		<tr>
		  	<td><%= link_to( project.title, edit_project_path(project),
				:title => t(:'projects.hint_edit') 
				) %>
				&nbsp;&nbsp;&nbsp;
				<%= link_to(image_tag('edit.png'), edit_project_path(project),
					:title => t(:'projects.hint_edit') ) %>
			</td>
		  <td><%= project.description %>
		<ul>
			<% project.reports.each do |r| %>
				<li>
					<%= link_to(r.title , 	edit_report_path(r), 
											:title => t(:'reports.hint_edit') ) %>
					&nbsp;&nbsp;&nbsp;
					<%= link_to(image_tag('edit.png'), 	edit_report_path(r), 
											:title => t(:'reports.hint_edit') ) %>
					&nbsp;&nbsp;&nbsp;	
					<%= link_to(image_tag('xml.png') , 	report_path(r, 	:format => :xml),
					  						:title => t(:'reports.hint_export') )%> 
					&nbsp;&nbsp;&nbsp;	
					<%= link_to(image_tag('preview.png'), 	report_path(r, 	:includestyle=>true, 
															:format => :xml),
											:title => t(:'reports.hint_view'))  %>
					&nbsp;&nbsp;&nbsp;	
					<%= link_to(image_tag('zip.png'), 	report_path(r, 
											 :format => :xml,
											 :includestyle => true,
											 :zip => true),
											:title => t(:'reports.hint_zip'))  %>
				<br /> <%=r.description %>	<br /><br />
				</li>
			<% end %>
		</ul>
		</td>
		  <td>
				<%= link_to(image_tag('xml.png') , 	project_path(project, 	:format => :xml),
				  						:title => t(:'projects.hint_export') )%>
				&nbsp;&nbsp;&nbsp;	
				<%= link_to(image_tag('preview.png'), 	project_path(project, 	:includestyle=>true, 
														:format => :xml),
										:title => t(:'projects.hint_view'))  %>
</td>
		</tr>
	<% end %>
</table>

<br />
<%= link_to( image_tag('add.png')+t(:'.add_link'),
		 new_project_path, 
		:title => t(:'.add_hint')
	) %>
