<!-- SECTION SINGLE REPORT -->
<div id="report_<%=report.id%>" class="border_reports">

		<!-- SECTION SINGLE REPORT Summary (modifiable details) -->
		<div class="toggle_report">
			<%= render( :partial 	=> "reports/sections/report_part0_summary",
						:locals 	=> { :report => report}			)%>
				
			<!-- SUB SECTION SINGLE REPORT Details (modifiable details) -->
			<div id="toggle_report_<%=report.id%>">
				<!-- SECTION navigation links (within page)-->
				<%= render( :partial 	=> "reports/sections/report_part1_links",
							:locals 	=> { :report => report}			)%>
				<!-- SECTION TEXT for description -->
				<%= render( :partial 	=> "reports/sections/report_part2_description",
							:locals 	=> { :report => report}			)%>
				<!-- SECTION ALL AUTHORS -->
				<%= render( :partial 	=> "reports/sections/authors",
							:locals 	=> { :report => report}			)%>
				<!-- SECTION TEXT for intro and methodology-->
				<%= render( :partial 	=> "reports/sections/report_part3_intro",
							:locals 	=> { :report => report}			)%>
			
			
				<!-- TODO for HE: section to manage heuristics (e.g. 10 heuristics by nielsen) -->
				<!-- TODO SECTION ALL "heuristics" -->
				<%= render( :partial 	=> "reports/sections/heuristics",
							:locals 	=> { :report => report}			) if report.testtype == "he" %>
				
				
				<!-- SECTION ALL "staff" Persons (=person with persontype_id ==2 .name="staff")-->
				<%= render( :partial 	=> "reports/sections/staff",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
				<!-- SECTION ALL "test users" Persons -->
				<%= render( :partial 	=> "reports/sections/test_users",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
				<!-- SECTION ALL "reviewer" Persons (heuristic experts)-->
				<%= render( :partial 	=> "reports/sections/reviewers",
							:locals 	=> { :report => report}			) if report.testtype == "he" %>


				<!-- TODO for HE: section to manage "user profiles" (~personas?) -->
				<!-- TODO for HE: section to manage text for "extend of Evaluation"? -->
				
				
				<!-- SECTION TEXT for environment -->
				<%= render( :partial 	=> "reports/sections/report_part4_environment",
							:locals 	=> { :report => report}			)%>
				<!-- SECTION ALL DEVICES -->
				<%= render( :partial 	=> "reports/sections/devices",
							:locals 	=> { :report => report}			)%>
				
				
				<!-- SECTION TEXT for training -->
				<%= render( :partial 	=> "reports/sections/report_part5_training",
							:locals 	=> { :report => report}			) if report.testtype == "ta"%>
				<!-- SECTION ALL TASKS -->
				<%= render( :partial 	=> "reports/sections/tasks",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
							
				
				
				<!-- SECTION ALL TASK RESULTS -->
				<%= render( :partial 	=> "reports/sections/taskresults",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>

				<!-- Note: for the questionnaire: questions and answers -->
				<!-- SECTION ALL QUESTIONS  -->
				<%= render( :partial 	=> "reports/sections/questions",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
				<!-- SECTION ALL ANSWERS -->
				<%= render( :partial 	=> "reports/sections/answers",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
							

				<!-- SECTION ALL INTERVIEWS -->
				<%= render( :partial 	=> "reports/sections/interviews",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>



				<!-- SECTION TEXT for heuristic issues-->
				<%= render( :partial 	=> "reports/sections/report_part5b_heuristicissues",
							:locals 	=> { :report => report}			) if report.testtype == "he" %>
				
				<!-- TODO for HE: allow to specify finding per heexpert with severity and reference to heuristic -->
				<!-- SECTION ALL FINDINGS (POSITIVE ones!) -->
				<%= render( :partial 	=> "reports/sections/findings",
							:locals 	=> { :report => report}			)%>
				<!-- SECTION ALL RECOMMENDATIONS (=negative findings) -->
				<%= render( :partial 	=> "reports/sections/recommendations",
							:locals 	=> { :report => report}			)%>

				

				<!-- SECTION TEXT for analysis (for text before heuristic issues for HE see above) -->
				<%= render( :partial 	=> "reports/sections/report_part6_analysis",
							:locals 	=> { :report => report}			) %>


				<!-- SECTION TEXT for transcript_description -->
				<%= render( :partial 	=> "reports/sections/report_part7_transcript_description",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
				<!-- SECTION ALL TRANSCRIPT_EVENTS -->
				<%= render( :partial 	=> "reports/sections/transcript_events",
							:locals 	=> { :report => report}			) if report.testtype == "ta" %>
				

				
				<!-- SECTION TEXT for appendix -->
				<%= render( :partial 	=> "reports/sections/report_part8_appendix",
							:locals 	=> { :report => report}			)%>
				<!-- SECTION ALL DOCUMENTS for this report -->
				<%= render( :partial 	=> "reports/sections/documents",
							:locals 	=> { :report => report}			)%>

				<div id="report_message_<%=report.id%>" class="ajax_message"></div>				

			</div> <!-- end id toggle report (details) -->
		</div>	<!-- end class toggle (report with summary) -->		
</div> <!--end of single report -->

