<!DOCTYPE html>
<html>
	<head>
	  	<title>URM - Usability Reporting Manager</title>
		<%= stylesheet_link_tag    	"application",
		 							"jquery_ui_overcast/jquery-ui-1.8.16.custom"  %>
		
		<%# only ok with Rails 3.1.x and assets pipeline
			= javascript_include_tag "application" 
		%>
		<%= javascript_include_tag( "jquery",
									"jquery_ujs", 
									"jquery-ui",
									"jquery.toastmessage", 
									"jquery.remotipart",
									"jquery.iframe-transport",
									"application") %>
		
	  	<%= csrf_meta_tag %>
	</head>

	<body>
		
			<div id='header'>
				<a href="/">
				<h1>URM - The Usability Reporting Manager</h1>
				</a>
			</div>
		
		<%= link_to t(:'home'), 
				:action=>'index', :title => t(:'hint_home') %>&nbsp;|&nbsp;
		<div id="navigation">
			<%= link_to_function t(:'about'), 
				"showAboutDialog();", :title=> t (:'hint_about') %>
				<div id="aboutdialog" class="ui_dialog" title="About URM">
					<p>This code for the Usability Reporting Manager URM is based on the work of Wei-Ju Lin, 2011</p>
					<hr/>
					<small><a href="http://itm.fh-joanneum.at/usabml/urm">http://itm.fh-joanneum.at/usabml/urm</a>
						Copyright (C) 2012 internettechnik<br /> 
					       Licensed under the GNU GPLv3 (http://www.gnu.org/licenses/gpl.txt) license.
					</small>
				</div>&nbsp;|&nbsp;
			<%= link_to t(:'admin'), 
				todos_path, :title => t(:'hint_admin') %>	
		</div>

		<%= yield %>

	</body>
</html>
